body {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
}

button:active, button:focus {
	outline: none !important;
}

.editSection {
	position: relative;
	margin-top: 8vh;
}

.header {
	position: fixed;
	z-index: 9999;
	width: 100vw;
	background-color: #01233C;
	height: 8vh;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.leftBTN {
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	margin-left: 56px;
	text-decoration: none;

}

.leftBTN:hover, .buttons div:hover {
	background-color: #002F51;
}

.leftBTN:hover a, .buttons div:hover a {
	text-decoration: none;
}

button:focus {
	outline: none;
}

.buttons {
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	margin-right: 56px;
}


.previewBTN a, .saveBTN a,  .leftBTN a {
	padding-top: 20px;
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 20px;
	color: #CDCDCD;
	text-decoration: none;
	
}

.previewBTN {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100% !important;
}

.saveBTN {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100% !important;
	font-weight: 600;
}

.burger {
	float: right;
	display: none;
	right: 0;
	margin-right: 12px;
}

.burger img{
   width: 32px;
}


@media (max-width: 1100px) {
	.header {
		height: 72px;
	}

	.saveBTN {
		font-size: 16px;
	}

	.previewBTN {
		font-size: 16px;
	}

	.leftBTN {
		font-size: 16px;
	}

	.editSection {
		margin-top: 72px;
	}

	.menu {
		width: 50%;
		margin-top: 72px;
	}

	


}

@media (max-width: 600px) {
	.header {
		height: 40px;
		margin: 0;
		padding: 0;
		z-index: 9;
	}

	.burger {
	    float: right;
	    display: inline-block;
	    right: 0;
	    margin-right: 12px;
	}

	.burger img{
	    width: 32px;
	}

	.saveBTN {
		font-size: 12px;
		width: 100%;
	}

	.previewBTN {
		font-size: 12px;
		width: 100%;
	}

	.leftBTN {
		font-size: 12px;
		margin-left: 0;
	}

	.buttons {
		display: none;
		position: absolute;
		margin-top: 38px;
		padding-top: 16px;
		flex-direction: column;
		height: auto;
		align-items: flex-start;
		background-color: #01233C;
		width: 100%;
		top: 0;
		left: 0;
	}

	.active_buttons {
		display: flex;
	}

	.active_buttons div {
		display: flex;
	}

	.active_buttons div:hover {
		background-color: #002F51;
	}

	.editSection {
		margin-top: 40px;
	}

	.menu {
		width: 90%;
		margin-top: 40px;
	}

	


}



.library {
	z-index: 9999;
	display: flex;
	justify-content: center;
	align-items: center;
}

.library button {
	background-color: #20719E;
	color: #FFFFFF;
	font-size: 16px;
	border: none;
	padding-bottom: 8px;
	padding-left: 24px;
	padding-top: 8px;
	padding-right: 24px;
}

.wrapper {

	/*position: relative;*/
	overflow-x: hidden;
}

.menu {
	z-index:9999;
	position: fixed;
	left: 0;
	width: 28%;
	margin-top: 8vh;
	height: 92vh;
	background: #F5F5F5;
	display: flex;
	flex-direction: column;
	transition: 0.5s;
	transform: translateX(-100%);
}

.menu-library {
	padding-top: 12px;
}

.menu_active {
	transform: translateX(0%);
}

.menu-list {
	display: flex;
	height: 48px;
	border-bottom: 1px solid;
    border-color: #C7C7C7;
    position: relative;
    padding-left: 24px;
	padding-right: 24px;
}

.menu-list div {
	width: 100vh;
	cursor: pointer;
}

.menu-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-left: 24px;
	padding-right: 2px;
	height: 2%;
	padding-top: 8px;
}

.menu-header-library {
	height: 4%;
	margin-bottom: 24px;
}


.menu-header-title h5 {
	font-weight: 500;
	font-size: 20px;
	margin: 0;
}

.menu-btn {
	width: auto;
	height: auto;
	cursor: pointer;
}

.menu-list:hover {
	background: #DADADA;
}

.menu-list h6 {
	position: absolute;
	top: 50%;
    margin-top: -0.625em;
    font-weight: 400;
    font-size: 14px;
}


@media (max-width: 1100px) {
	.menu {
		width: 55%;
		margin-top: 72px;
		height: 95%;
	}
}

.block {
	position: relative;
}

.editButtom {
	z-index: 9998;
	display: none;
	top: 0;
	right: 0;
}

.block:hover .editButtom{
	display: flex;
	position: absolute;
}

.editStyle{
	cursor: pointer;
	margin-right: 32px;
	background-color: #3F78CE;
	color: #fff;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 8px;
	padding-right: 8px;
}

.editContent{
	cursor: pointer;
	margin-right: 48px;
	background-color: #3F78CE;
	color: #fff;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 8px;
	padding-right: 8px;
}

.moreOption{
	cursor: pointer;
	margin-right: 2vw;
	background-color: inherit !important;
	color: #fff;
	height: 48px;
	width: 4px;
	display: flex;
	justify-content: center;
	position:relative;
}

.moreOption img {
	display: inline-block;
	width: 2.5vw;
}


.option {
	display:none;
	position: fixed;
	background: #EAEAEA;
	flex-direction: column;
	width: 14vw;
	border-radius: 5px;
	right: 0;
	margin-top: 40px;
	margin-right: -12px;
	z-index: 999;
}

.moreOption:hover .option{
    display:flex;
    position:absolute;
    z-index:9999;
}

.option-list {
	display: flex;
	flex-direction: column;
}

.option-item {
	display: flex;
	flex-direction: row;
	border-bottom: 1px solid;
    border-color: #C7C7C7;
}

.option-item img {
	display: inline-block;
	width: 16px;
	padding-left: 12px;
}

.option-item h6 {
	padding-left: 1vw;
	color: #000;
}

.option-item:hover {
	cursor: pointer;
	background: #DADADA;
}


@media (max-width: 1100px) {
	.option {
		width: 20vw;
	}
}


.styleSection {
	overflow-y: auto;
}

.form_style {
	padding-left: 24px;
	padding-right: 24px;
	padding-bottom: 32px;
	margin-top: 12px; 
}

.form-group {
	margin-bottom: 32px;
	width: 100%;
}

.form-group label {
	color: #5C5C5C;
	font-size: 16px;/*
	padding-bottom: 6px;
	margin-bottom: 0;*/
}

.form-group input, textarea {
	font-family: 'Montserrat', sans-serif;
	width: 100%;
	height: 5vh;
	border: none;
	background-color: inherit;
	border-bottom-style: ridge;
	border-bottom: thin solid;
	border-bottom-color: #8D8D8D;
	color: #5C5C5C;
	font-size: 18px;
	padding-bottom: 8px;
}

.color-picker-style {
	margin-top: 12px;
}

.form-group select {
	font-family: 'Montserrat', sans-serif;
	width: 100%;
	height: 5vh;
	background-color: inherit;
	border:none;
	background-color: inherit;
	border-bottom-style: ridge;
	border-bottom: thin solid;
	border-bottom-color: #8D8D8D;
	color: #5C5C5C;
	font-size: 18px;
	padding-bottom: 8px;
	margin-top: 8px;
}

.form-group select:hover, .form-group input:hover, .form-group textarea:hover {
	border-bottom-color: #139BE8;
}



.form-group select:focus, .form-group input:focus, .form-group textarea:focus {
	border:none;
	border-bottom-style: ridge;
	border-bottom: thin solid;
	border-bottom-color: #139BE8;
	outline: none;
}

.form-group select:hover::after {
	color: #139BE8;
	background: #139BE8;
	background-color: #139BE8;
}


.subtitle_styleSection {
	font-weight: 500;
	font-size: 20px;
	margin-top: 32px;
	margin-bottom: 40px;
	color: #3A3A3A;
}


.contentSection {
	overflow-y: auto;
	width: 100%;
}

.menu_content {
	width: 45% ;
}



.contentSection textarea {
	font-family: 'Montserrat', sans-serif;
	height: 280px !important;
	margin-top: 12px;
}

.loadBTN {
	background-color: inherit;
	border-style: ridge;
	border: thin solid;
	border-color: #8D8D8D;
	color: #3A3A3A;
	font-size: 18px;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

.loadBTN:hover {
	background-color: #139BE8;
	border-color: #139BE8;
	color: #fff;
}

.loadImg {
	margin-top: 2vh;
}

.curImgs {
	display: flex;/*
	margin-right: 5vw;*/
	margin-top: 5vh; 
}

.curImg {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 16px;
}

.curImg_img {
	width: 30%;
}

.curImg_img img{
	display: inline-block;
	width: 100%;
}

.curVideo{
	display: inline-block;
	width: 100%;
}

.curImg_text {
	word-wrap: break-word;
	width: 55%;
	padding-left: 2vw;
}

.curImg_text p {/*
	width: 90%;*/
	font-size: 1vw;
	margin-bottom: 0 !important;
}

.curImg_btn {
	margin-left: auto;
  	margin-right: 0;
	width: 4% !important;
	cursor: pointer;
}

.curImg_btn img {
	display: inline-block;
	width: 100%;
}




/*Форма загрузки файла*/

.inputfile input{
	font-family: 'Montserrat', sans-serif;
	height: 0;
    overflow: hidden;
    width: 0;
    margin: 0;
}

.btn-1 {
  background-color: #139BE8;
  color: #ffffff !important;
  cursor: pointer;
  display: inline-block;
  padding-top: 12px;
  padding-bottom: 12px !important;
  padding-left: 18px;
  padding-right: 18px;
  position: relative;
  transition: all 0.3s;
  font-family: 'Montserrat', sans-serif !important;
  overflow: hidden;
  border-radius: 0 !important;
}

    
.btn-1 span {
	font-family: 'Montserrat', sans-serif;
    display: inline-block;
    height: 100%;
    transition: all 0.3s;
    width: 100%;
}
    
.btn-1::before {
    content: url("../icons/download.svg");
    height: 100%;
    position: absolute;
    top: -160%;
    transition: all 0.3s;
    width: 30%;
    right: 0;
    margin-right: 35%;
}

.btn-1:hover {
    background-color: #0585CE !important;
}
      
.btn-1:hover span {
    transform: translateY(300%);
}
        
.btn-1:hover::before {
    top: 0;
}


.overlay {
	z-index: 9999;
  	position: fixed;
  	top: 0;
  	bottom: 0;
  	left: 0;
  	right: 0;
  	background: rgba(0, 0, 0, 0.7);
  	transition: opacity 500ms;
  	visibility: visible;
  	opacity: 1;
}

.popup {
  	margin: 70px auto;
  	padding: 20px;
  	background: #fff;
  	border-radius: 5px;
  	width: 45%;
  	position: relative;
  	transition: all 5s ease-in-out;
}


.popup .close {
	position: absolute;
  	top: 10px;
  	right: 30px;
  	transition: all 200ms;
  	color: #333;
  	cursor: pointer;
}
.popup .close:hover {
  	color: #06D85F;
}



.publishBTN {
	background-color: #209E62;
	color: #fff;
	border:none;
	font-size: 18px;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

.publishBTN:hover {
	background-color: #1A8250;
	color: #fff;
	text-decoration: none;
}

.form-group2 {
	display: flex;
	margin-bottom: 32px;
	flex-direction: row;
	align-items: center;
}

.form-group2 label {
	font-family: 'Montserrat', sans-serif;
	color: #5C5C5C;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 0;
	padding-bottom: 4px;
	margin-right: 4px;
}

.form-group2 input {
	font-family: 'Montserrat', sans-serif;
	width: 100%;
	height: 5vh;
	border: none;
	background-color: inherit;
	border-bottom-style: ridge;
	border-bottom: thin solid;
	border-bottom-color: #8D8D8D;
	color: #5C5C5C;
	font-size: 18px;
	padding-bottom: 4px;
}

.form-group2 input:hover {
	border-bottom-color: #139BE8;
}

.form-group2 input:focus{
	border:none;
	border-bottom-style: ridge;
	border-bottom: thin solid;
	border-bottom-color: #139BE8;
	outline: none;
}

.error {
	color: #BF3D14;
}

.row {
	display: flex;
	flex-direction: row;
	margin-top: 12px;
	justify-content: space-between;
}

.row label {
	font-size: 14px;
}

.showAdditionalInfo {
	color: #5C5C5C;
	font-size: 16px;
	cursor: pointer;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.showAdditionalInfo:hover {
	text-decoration: underline;
	text-decoration-color: #5C5C5C;
}

.showAdditionalInfo:hover .imgAdditionalInfo img {
	transform: translateX(8px);
}

.imgAdditionalInfo {
	width: 24px;
	height: 24px;
}

.imgAdditionalInfo img {
	width: 100%;
}

.color-picker-wrapper .color-picker-input-wrapper {
	display: flex !important;
}



@media (max-width: 1100px) {
	.menu {
		width: 55%;
		margin-top: 72px;
		height: 95%;
	}

	.form-group select, .form-group input, .form-group textarea {
		height: auto;
	}

	.form-group label {
		padding-bottom: 12px;
	}

	.popup {
		width: 80%;
	}
}


@media (max-width: 600px) {
	.library button {
		font-size: 14px;
		padding-left: 16px;
		padding-right: 16px;
	}

	.menu {
		width: 100%;
		margin-top: 0;
		height: 100%;
	}

	.menu-list {
		height: 56px;
	}

	.moreOption {
		display: none;
	}

	.editStyle{
		margin-right: 24px;
		padding-top: 8px;
		padding-bottom: 8px;
		padding-left: 4px;
		padding-right: 4px;
		font-size: 12px;
	}

	.editContent{
		margin-right: 12px;
		padding-top: 8px;
		padding-bottom: 8px;
		padding-left: 4px;
		padding-right: 4px;
		font-size: 12px;
	}

	.popup {
		width: 94%;
		height: 55%;
		margin-top: 24px;
		margin-bottom: 8px;
		padding-top: 40px;
	}

	.form_style {
		padding-left: 8px;
		padding-right: 9px;
	}

	.form_style h3 {
		font-size: 24px;
	}

	.popup .close {
		right: 40px;
	}

	.form-group2 {
		flex-direction: column;
		align-items: flex-start;
	}
}

.color-picker-wrapper {
	margin-top: 12px;
}





p[contentEditable], h1[contentEditable], h2[contentEditable], h3[contentEditable], h4[contentEditable], h5[contentEditable], h6[contentEditable] {
  cursor: pointer
  outline: none;
  outline-color: #0585CE;
  /*padding: 1em;*/
}

