body {
	font-family: 'Montserrat', sans-serif;
}

.editSection {
	position: relative;
	margin-top: 8vh;
}

.header {
	position: fixed;
	z-index: 9999;
	width: 100vw;
	background-color: #01233C;
	height: 8vh;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.leftBTN {
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	margin-left: 56px;
}

.leftBTN:hover, .buttons div:hover {
	background-color: #002F51;
}

.leftBTN:hover a, .buttons div:hover a {
	text-decoration: none;
}



.buttons {
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	margin-right: 56px;
}


.previewBTN a, .saveBTN a,  .leftBTN a {
	padding-top: 20px;
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 20px;
	color: #CDCDCD;
}

.previewBTN {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100% !important;
}

.saveBTN {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100% !important;
	font-weight: 600;
}



.library {
	z-index: 9999;
	display: flex;
	justify-content: center;
	align-items: center;
}

.library button {
	background-color: #20719E;
	color: #FFFFFF;
	font-size: 18px;
	border: none;
	padding-bottom: 8px;
	padding-left: 24px;
	padding-top: 8px;
	padding-right: 24px;
}

.wrapper {

	/*position: relative;*/
	overflow-x: hidden;
}

.menu {
	z-index:9999;
	position: fixed;
	left: 0;
	width: 28%;
	margin-top: 8vh;
	height: 92vh;
	background: #F5F5F5;
	display: flex;
	flex-direction: column;
	padding-top: 3vh;
	transition: 0.5s;
	transform: translateX(-100%);
}

.menu_active {
	transform: translateX(0%);
}

.menu-list {
	display: flex;
	height: 5.8vh;
	border-bottom: 1px solid;
    border-color: #C7C7C7;
    position: relative;
    padding-left: 24px;
	padding-right: 24px;
}

.menu-list div {
	width: 100vh;
	cursor: pointer;
}

.menu-header {
	display: flex;
	align-items: center;
	position: relative;
	margin-bottom: 2vh;
	padding-left: 24px;
	padding-right: 24px;
	height: 6%;
}


.menu-header-title h5 {
	font-weight: 500;
	font-size: 20px;
}

.menu-btn {
	width: 4% !important;
	height: auto;
	position: absolute;
	right: 1.5vw;
	margin-right: 10px;
	cursor: pointer;
}

.menu-list:hover {
	background: #DADADA;
}

.menu-list h6 {
	position: absolute;
	top: 50%;
    margin-top: -0.625em;
    font-weight: 400;
}

.block {
	position: relative;
}

.editButtom {
	z-index: 9998;
	display: none;
	top: 0;
	right: 0;
}

.block:hover .editButtom{
	display: flex;
	position: absolute;
}

.editStyle{
	cursor: pointer;
	margin-right: 2vw;
	background-color: #3F78CE;
	color: #fff;
	padding: 0.5vw;
	height: 5vh;
}

.editContent{
	cursor: pointer;
	margin-right: 2vw;
	background-color: #3F78CE;
	color: #fff;
	padding: 0.5vw;
	height: 5vh;
}

.moreOption{
	cursor: pointer;
	margin-right: 2vw;
	background-color: inherit !important;
	color: #fff;
	height: 5vh;
	width: 3.5vw;
	display: flex;
	justify-content: center;
	position:relative;
}

.moreOption img {
	display: inline-block;
	width: 2.5vw;
}


.option {
	display:none;
	position: fixed;
	right: 2vw;
	background: #EAEAEA;
	flex-direction: column;
	width: 18vw;
	padding-top: 1.5vh;
	padding-bottom: 3vh;
	padding-left: 1.5vw;
	padding-right: 1.5vw;
	margin-top: 5.2vh;
	margin-right: -2vw;
	border-radius: 5px;
}

.moreOption:hover .option{
    display:flex;
    position:absolute;
    z-index:9999;
}

.option-list {
	display: flex;
	flex-direction: column;
}

.option-item {
	display: flex;
	flex-direction: row;
	border-bottom: 1px solid;
    border-color: #C7C7C7;
    padding-top: 1.5vh;
}

.option-item img {
	display: inline-block;
	width: 1.2vw;
}

.option-item h6 {
	padding-left: 1vw;
	color: #000;
}

.option-item:hover {
	cursor: pointer;
	background: #DADADA;
}

.styleSection {
	overflow-y: auto;
}

.form_style {
	padding-left: 24px;
	padding-right: 24px;
	padding-bottom: 4vh;
	margin-top: 4vh; 
	width: 100%;
}

.form-group {
	margin-bottom: 32px;
}

.form-group label {
	color: #5C5C5C;
	font-size: 16px;
	padding-bottom: 6px;
	margin-bottom: 0;
}

.form-group input, textarea {
	width: 100%;
	height: 5vh;
	border: none;
	background-color: inherit;
	border-bottom-style: ridge;
	border-bottom: thin solid;
	border-bottom-color: #8D8D8D;
	color: #5C5C5C;
	font-size: 18px;
	padding-bottom: 8px;
}

.form-group select {
	width: 100%;
	height: 5vh;
	background-color: inherit;
	border:none;
	background-color: inherit;
	border-bottom-style: ridge;
	border-bottom: thin solid;
	border-bottom-color: #8D8D8D;
	color: #5C5C5C;
	font-size: 18px;
	padding-bottom: 8px;
}

.form-group select:hover, .form-group input:hover, .form-group textarea:hover {
	border-bottom-color: #139BE8;
}



.form-group select:focus, .form-group input:focus, .form-group textarea:focus {
	border:none;
	border-bottom-style: ridge;
	border-bottom: thin solid;
	border-bottom-color: #139BE8;
	outline: none;
}

.form-group select:hover::after {
	color: #139BE8;
	background: #139BE8;
	background-color: #139BE8;
}


.subtitle_styleSection {
	font-weight: 500;
	font-size: 20px;
	margin-top: 32px;
	margin-bottom: 40px;
	color: #3A3A3A;
}


.contentSection {
	overflow-y: auto;
}



.contentSection textarea {
	height: 30vh !important;
}

.loadBTN {
	background-color: inherit;
	border-style: ridge;
	border: thin solid;
	border-color: #8D8D8D;
	color: #3A3A3A;
	font-size: 18px;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

.loadBTN:hover {
	background-color: #139BE8;
	border-color: #139BE8;
	color: #fff;
}

.loadImg {
	margin-top: 2vh;
}

.curImgs {
	display: flex;/*
	margin-right: 5vw;*/
	margin-top: 5vh; 
}

.curImg {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 16px;
}

.curImg_img {
	width: 30%;
}

.curImg_img img{
	display: inline-block;
	width: 100%;
}

.curVideo{
	display: inline-block;
	width: 100%;
}

.curImg_text {
	word-wrap: break-word;
	width: 55%;
	padding-left: 2vw;
}

.curImg_text p {/*
	width: 90%;*/
	font-size: 1vw;
	margin-bottom: 0 !important;
}

.curImg_btn {
	margin-left: auto;
  	margin-right: 0;
	width: 4% !important;
	cursor: pointer;
}

.curImg_btn img {
	display: inline-block;
	width: 100%;
}


/*Форма загрузки файла*/

.inputfile input{
	height: 0;
    overflow: hidden;
    width: 0;
    margin: 0;
}

.btn-1 {
  background-color: #139BE8;
  color: #ffffff !important;
  cursor: pointer;
  display: inline-block;
  padding-top: 12px;
  padding-bottom: 12px !important;
  padding-left: 18px;
  padding-right: 18px;
  position: relative;
  transition: all 0.3s;
  font-family: 'Montserrat', sans-serif !important;
  overflow: hidden;
  border-radius: 0 !important;
}

    
.btn-1 span {
    display: inline-block;
    height: 100%;
    transition: all 0.3s;
    width: 100%;
}
    
.btn-1::before {
    content: url("../icons/download.svg");
    height: 100%;
    position: absolute;
    top: -160%;
    transition: all 0.3s;
    width: 30%;
    right: 0;
    margin-right: 35%;
}

.btn-1:hover {
    background-color: #0585CE !important;
}
      
.btn-1:hover span {
    transform: translateY(300%);
}
        
.btn-1:hover::before {
    top: 0;
}





p, h1, h2, h3, h4, h5, h6[contentEditable] {
  cursor: pointer;
  /*padding: 1em;*/
}

