body {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
}


.overlay {
	z-index: 9999;
	position: fixed;
	bottom: 0;
	left: 0;
	transition: opacity 500ms;
	visibility: visible;
 	opacity: 1;
 	margin-bottom: 40px;
 	margin-left: 40px;
}

.returnBTN {
	height: 28px;
	border: none;
	position: relative;
	z-index: 1;
	background-image: linear-gradient(to right, #11F0E3, #139BE8);
	color: #fff;
	font-weight: 600;
	font-size: 18px;
	padding-left: 24px;
	padding-right: 24px;
	padding-top: 12px;
	padding-bottom: 12px;
	text-decoration: none;
	display: flex;
    flex-direction: row;
    align-items: center;
}

.returnBTN img {
	margin-right: 16px;
}

.returnBTN::before {
  	position: absolute;
  	content: "";
  	top: 0;
  	right: 0;
  	bottom: 0;
  	left: 0;
  	background-image: linear-gradient(to right, #139BE8, #11F0E3);
  	z-index: -1;
  	transition: opacity 0.5s linear;
  	opacity: 0;
}

.returnBTN:hover::before {
  	opacity: 1;
}