 <div resize ng-style="{'background-color': '#' + style[$index].bg_color }" ng-if="editPage">
    <div class="gallery_header" ng-style="{'padding-top': (windowWidth > 800) ? style[$index].padding_top_desktop + 'px' : style[$index].padding_top_mobile + 'px'}">
    	<div ng-style="{'width': style[$index].width + '%'}">
      		<h1 contentEditable ng-model="mainText[$index].title" ng-style="{ 'color': '#' + style[$index].title.color, 'font-family': style[$index].title.font_family, 'font-size': (windowWidth > 770) ? style[$index].title.font_size + 'px' : style[$index].title.font_size - 2 + 'px', 'font-weight': style[$index].title.font_weight, 'font-style': style[$index].title.font_style, 'text-decoration': style[$index].title.text_decoration,  'text-shadow': style[$index].title.text_shadow_x + 'px ' + style[$index].title.text_shadow_y + 'px ' + style[$index].title.text_shadow_blur + 'px ' + '#' + style[$index].title.text_shadow_color }"></h1>
     		<p contentEditable ng-model="mainText[$index].text" ng-style="{ 'color': '#' + style[$index].main_text.color,
			'font-family': style[$index].main_text.font_family, 'font-size': (windowWidth > 770) ? style[$index].main_text.font_size + 'px' : style[$index].main_text.font_size - 2 + 'px', 'font-weight': style[$index].main_text.font_weight, 'font-style': style[$index].main_text.font_style, 'text-decoration': style[$index].main_text.text_decoration, 'text-shadow': style[$index].main_text.text_shadow_x + 'px ' + style[$index].main_text.text_shadow_y + 'px ' + style[$index].main_text.text_shadow_blur + 'px ' + '#' + style[$index].main_text.text_shadow_color }"></p>
		</div>
    </div>

      <div class="gallery_column_2"  ng-style="{'padding-bottom': (windowWidth > 800) ? style[$index].padding_bottom_desktop + 'px' : style[$index].padding_bottom_mobile + 'px'}">
      	<div ng-style="{'width': style[$index].width + '%'}">
        	<img ng-src="{{ image.src }}" ng-repeat="image in images[$index]" ng-style="{'padding-left': style[templNum].gallery.distance_between_imgs + 'px', 'padding-right': style[templNum].gallery.distance_between_imgs + 'px', 'margin-top': style[templNum].gallery.distance_between_imgs * 2 + 'px'}">
        </div>
      </div>
</div>



<div resize ng-style="{'background-color': '#' + style[$index].bg_color }" ng-if="!editPage">
    <div class="gallery_header" ng-style="{'padding-top': (windowWidth > 800) ? style[$index].padding_top_desktop + 'px' : style[$index].padding_top_mobile + 'px'}">
    	<div ng-style="{'width': style[$index].width + '%'}">
      		<h1 ng-style="{ 'color': '#' + style[$index].title.color, 'font-family': style[$index].title.font_family, 'font-size': (windowWidth > 770) ? style[$index].title.font_size + 'px' : style[$index].title.font_size - 2 + 'px', 'font-weight': style[$index].title.font_weight, 'font-style': style[$index].title.font_style, 'text-decoration': style[$index].title.text_decoration, 'text-shadow': style[$index].title.text_shadow_x + 'px ' + style[$index].title.text_shadow_y + 'px ' + style[$index].title.text_shadow_blur + 'px ' + '#' + style[$index].title.text_shadow_color }">{{mainText[$index].title}}</h1>
     		<p ng-style="{ 'color': '#' + style[$index].main_text.color,
			'font-family': style[$index].main_text.font_family, 'font-size': (windowWidth > 770) ? style[$index].main_text.font_size + 'px' : style[$index].main_text.font_size - 2 + 'px', 'font-weight': style[$index].main_text.font_weight, 'font-style': style[$index].main_text.font_style, 'text-decoration': style[$index].main_text.text_decoration, 'text-shadow': style[$index].main_text.text_shadow_x + 'px ' + style[$index].main_text.text_shadow_y + 'px ' + style[$index].main_text.text_shadow_blur + 'px ' + '#' + style[$index].main_text.text_shadow_color }">{{mainText[$index].text}}</p>
		</div>
    </div>

      <div class="gallery_column_2"  ng-style="{'padding-bottom': (windowWidth > 800) ? style[$index].padding_bottom_desktop + 'px' : style[$index].padding_bottom_mobile + 'px'}">
      	<div ng-style="{'width': style[$index].width + '%'}">
        	<img ng-src="{{ image.src }}" ng-repeat="image in images[$index]" ng-style="{'padding-left': style[templNum].gallery.distance_between_imgs + 'px', 'padding-right': style[templNum].gallery.distance_between_imgs + 'px', 'margin-top': style[templNum].gallery.distance_between_imgs * 2 + 'px'}">
    	</div>
      </div>
</div>