 <div class="carousel_section">
         <div class="carousel owl-carousel owl-theme" id="owl-carousel-{{$index}}">
             <div class="carousel_item" ng-repeat="image in images[$index]">

                <img class="carousel_item_img" ng-src="{{ image.src }}">
                <div class="carousel_item_content">
                    <h2 class="carousel_item_title">Заголовок</h2>
                    <div class="carousel_item_text"><p>Описание</p></div>
                </div>
             </div>
     </div>
 </div>


