<div resize class="video_text_block" ng-style="{'padding-top': (windowWidth > 800) ? style[$index].padding_top_desktop + 'px' : style[$index].padding_top_mobile + 'px', 'padding-bottom': (windowWidth > 800) ? style[$index].padding_bottom_desktop + 'px' : style[$index].padding_bottom_mobile + 'px'}">
 	<div ng-if="editPage" class="video_text_block_div">
	 	<div class="iframe_div">
	 		<iframe resize ng-style="{ 'width':windowWidth + 'px', 'height': windowHeight + 'px' }" ng-src="{{getUrl(windowWidth, videos[$index][0].src) | trustUrl }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	 	</div>

		<div  class="content" ng-style="{ 'text-align': style[$index].text_align, 'background-color': '#' + style[$index].bg_color, 'bottom': (windowWidth > 800) ? style[$index].padding_bottom_desktop + 'px' : style[$index].padding_bottom_mobile + 'px'  }">
			<h1 contentEditable ng-model="mainText[$index].title" ng-style="{ 'color': '#' + style[$index].title.color,
				'font-family': style[$index].title.font_family, 'font-size': (windowWidth > 770) ? style[$index].title.font_size + 'px' : style[$index].title.font_size - 5 + 'px', 'font-weight': style[$index].title.font_weight, 'font-style': style[$index].title.font_style, 'text-decoration': style[$index].title.text_decoration, 'text-shadow': style[$index].title.text_shadow_x + 'px ' + style[$index].title.text_shadow_y + 'px ' + style[$index].title.text_shadow_blur + 'px ' + '#' + style[$index].title.text_shadow_color }"></h1>
			 <p contentEditable ng-model="mainText[$index].main_text" ng-style="{ 'color': '#' + style[$index].main_text.color,
				'font-family': style[$index].main_text.font_family, 'font-size': (windowWidth > 770) ? style[$index].main_text.font_size + 'px' : style[$index].main_text.font_size - 2 + 'px', 'font-weight': style[$index].main_text.font_weight, 'font-style': style[$index].main_text.font_style, 'text-decoration': style[$index].main_text.text_decoration, 'text-shadow': style[$index].main_text.text_shadow_x + 'px ' + style[$index].main_text.text_shadow_y + 'px ' + style[$index].main_text.text_shadow_blur + 'px ' + '#' + style[$index].main_text.text_shadow_color}"></p>
		</div>
	</div>


	<div ng-if="!editPage" class="video_text_block_div">
		<div class="iframe_div">
		 	<iframe resize ng-style="{ 'width':windowWidth + 'px', 'height': windowHeight + 'px' }" ng-src="{{ getUrl(windowWidth, videos[$index][0].src) | trustUrl }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

		</div>
		<div  class="content" ng-style="{ 'text-align': style[$index].text_align, 'background-color': '#' + style[$index].bg_color, 'bottom': (windowWidth > 800) ? style[$index].padding_bottom_desktop + 'px' : style[$index].padding_bottom_mobile + 'px'}">
			<h1  ng-model="mainText[$index].title" ng-style="{ 'color': '#' + style[$index].title.color,
				'font-family': style[$index].title.font_family, 'font-size': style[$index].title.font_size + 'px', 'font-weight': style[$index].title.font_weight, 'font-style': style[$index].title.font_style, 'text-decoration': style[$index].title.text_decoration, 'text-shadow': style[$index].title.text_shadow_x + 'px ' + style[$index].title.text_shadow_y + 'px ' + style[$index].title.text_shadow_blur + 'px ' + '#' + style[$index].title.text_shadow_color }">{{mainText[$index].title}}</h1>
			 <p  ng-model="mainText[$index].main_text" ng-style="{ 'color': '#' + style[$index].main_text.color,
				'font-family': style[$index].main_text.font_family, 'font-size': style[$index].main_text.font_size + 'px', 'font-weight': style[$index].main_text.font_weight, 'font-style': style[$index].main_text.font_style, 'text-decoration': style[$index].main_text.text_decoration, 'text-shadow': style[$index].main_text.text_shadow_x + 'px ' + style[$index].main_text.text_shadow_y + 'px ' + style[$index].main_text.text_shadow_blur + 'px ' + '#' + style[$index].main_text.text_shadow_color }">{{mainText[$index].main_text}}</p>
		</div>
	</div>

</div>



