.cover {
	background-image: url("../../templates/images/1.jpg");
	background-repeat: no-repeat;
	width: 100%;
	background-size: cover;
	height: 100vh;
	display: flex;
	justify-content: center;
}

.cover_text{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	padding-left: 25px;
	padding-right: 25px;
	width: 100%;
}

.cover_text h5 {
	padding-bottom: 40px;
	font-size: 1.7vw;
	font-weight: 400;
	margin: 0;
}

.cover_text h6 {
	padding-top: 32px;
	font-size: 2vw;
	font-weight: 400;
	margin: 0;
}

.cover_text h2 {
	font-size: 4.5vw;
	font-weight: 500;
	margin: 0;
}

/*Блок с картинкой и текстом (справа или слева)*/


.img_text_block {
	height: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	background-color: #f6f6f7;
}


.section {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	width: 100vw;
	/*padding: 50px 50px;*/
	/*background-color: #000000;*/
}



.img_section {
	flex: 1;
	padding-right: 8px;
}

.img_section img {
	display: block;
	max-width: 100%;
	height: auto;
}

.text_section {
	text-align: left;
	flex: 2;
}

.text_section h3 {
	margin: 0;
}


@media screen and (max-width: 1280px) {
	.section {
		flex-direction: column !important;
	}

	.img_section {
		padding-right: 0 !important;
		padding-left: 0 !important;
		padding-bottom: 24px !important;
	}

}

@media screen and (max-width: 570px) {
	.section {
		flex-direction: column !important;
		padding-right: 12px;
		padding-left: 12px;
	}

	.img_section {
		padding-right: 0 !important;
		padding-left: 0 !important;
		padding-bottom: 24px !important;
	}

}


/*Текстовый блок*/

.section_text_block {
	justify-content: center;
	align-items: center;
	display: flex;
	width: auto;
	padding-top: 50px;
	padding-bottom: 50px; 
	padding-right: 50px;
	padding-left: 50px;
}

.section_text_block div {
	text-align: center;
	width: 70vw;
}

.section_text_block div p{
	margin-bottom: 0;
	font-size: 1.7vw;
	margin: 0;
}

@media screen and (max-width: 1280px) {
	.section_text_block {
		padding-right: 40px;
		padding-left: 40px;
	}

}

@media screen and (max-width: 570px) {
	.section_text_block {
		padding-right: 12px;
		padding-left: 12px;
	}

}

/*Блок с картинкой*/


.img_text_block2 {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 40px;
	padding-bottom: 40px;
	
}

.section2 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  	width: 100%;
}

.img_section2 {
}

.img_section2 img {
	width: 100%;
}

.text_section2 {
	padding-top: 2vh;
	text-align: center;
	align-self: center;
}

p {
	margin-bottom: 0;
}



/*видео с текстом*/

.video_text_block {
	display: flex;
	width: 100vw;
	height: auto;
	position: relative;
}

.content {
	position: absolute;
	bottom: 0;
	background: rgba(0, 35, 54, 0.9);
	color: #f1f1f1;
	padding: 10px 50px;
}

.video_block {
	display: flex;
	position: relative;
	justify-content: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

.video_block iframe {
	
    height: auto;
}


.video_block video {
    width: 100vw;
    height: auto;
}


@media screen and (max-width: 1280px) {
	.video_text_block_div {
		align-items: center;
		justify-content: center;
		flex-direction: column;
		margin-top: 0;
		padding-top: 0;
	}

	.content {
		position: initial;
		/*Поставить цвет всего фона лонгрида*/
	}

	.iframe_div {
		display: flex !important;
	}

	.iframe_div iframe {
		height: 650px !important;
	}

	/*.video_block {
		padding-left: 40px;
		padding-right: 40px;
	}*/

}

@media screen and (max-width: 570px) {
	.iframe_div iframe {
		height: 300px !important;
	}

	.content {
		padding-left: 12px;
		padding-right: 12px;
	}

	.video_block {
		padding-left: 12px;
		padding-right: 12px;
	}

}





/*Слайдер*/

.carousel_section {
	display: flex;
	align-items:  center;
	flex-direction: column;
	margin-top: 40px;
	margin-bottom: 40px;
}

.carousel {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 80%;
}

.carousel_item {
	/*height: 500px;*/
	display: flex;
	position: relative;
	height: inherit;
}

.carousel_item_img {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.owl-item {
	height: inherit;
}
.owl-stage{
	height: inherit;
}

.owl-stage-outer{
	height: inherit;
}

.carousel_item_content {
	position: absolute;
	width: 100%;
	height: 100%;
	justify-content: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.carousel_item_title {
	color: #000;
	font-size: 60px;
	font-weight: 500;
	margin: 0;
	margin-bottom: 40px;
}

.carousel_item_text {
	color: #000;
	font-size: 30px;
}

.carousel_item_text p {
	margin: 0;
}

.carousel_dots {
	text-align:center;
	/*padding: 0;*/
	padding-top: 18px;
}

.carousel_dot {
	display: inline-block;
	zoom: 1;
	background: none;
	color: inherit;
    border: none;
    padding: 0 !important;
    font: inherit;
    user-select: none;
    cursor: pointer;
}

.carousel_dot span {
	width: 10px;
    height: 10px;
    margin: 5px 7px;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity 200ms ease;
    border-radius: 30px;
    opacity: 0.4;
}

.carousel_dot:focus {

}

.carousel_dot.active span {
	opacity: 1;
}


/*gallery_column_2ery1*/

.gallery_header {
    text-align: center;
    padding: 32px;
}

.gallery_column {
    columns: 3;
    padding-top: 40px;
	padding-bottom: 40px;
}

.gallery_column div {
	width: 100%;
}

.gallery_column img {
	margin-top: 8px;
    width: 100%;
  	transition: .8s opacity;
}


.gallery_column:hover img { opacity: 0.8; }
.gallery_column:hover img:hover { opacity: 1; } 


@media (max-width: 1024px) {
    .gallery_column {
    	columns: 2;
}
}


@media (max-width: 800px) {
    .gallery_column {
    columns: 1;
}
}

/*Gallery2*/


.gallery_column_2 {
    display: flex; 
    width: 100%;
  	flex-direction: row; 
  	flex-wrap: wrap;
  	justify-content: center;
  	padding-top: 40px;
	padding-bottom: 40px;
}

.gallery_column_2 div {
	display: flex; 
  	flex-direction: row; 
  	flex-wrap: wrap;
  	justify-content: center;
}

.gallery_column_2 img {
	margin-top: 8px;
    width: 30%;
    padding-right: 4px;
    padding-left: 4px;
  	transition: .8s opacity;
}


.gallery_column_2:hover img { opacity: 0.8; }
.gallery_column_2:hover img:hover { opacity: 1; } 


@media (max-width: 1024px) {
    .gallery_column_2 img {
        width: 49%;
    }
}


@media (max-width: 800px) {
    .gallery_column_2 img {
         width: 100%;
    }
}
